<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cektrend.trashget">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trashget">
        <activity android:name=".people.PeopleActivity"></activity>
        <activity android:name=".people.PeopleLogin" />
        <activity android:name=".admin.AddDriver" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.AdminLogin" />
        <activity android:name=".collector.GetRequest" />
        <activity android:name=".people.GetLocation" />
        <activity
            android:name=".collector.TrackTruck"
            android:label="@string/title_activity_track_truck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".collector.CollectorActivity" />
        <activity android:name=".collector.CollectorLogin" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="OnlineMaps.Key"
            android:value="FGL92QH21GEwKekje75EqJSAHA7GFpya" />
        <meta-data
            android:name="OnlineTraffic.Key"
            android:value="FGL92QH21GEwKekje75EqJSAHA7GFpya" />
        <meta-data
            android:name="OnlineSearch.Key"
            android:value="FGL92QH21GEwKekje75EqJSAHA7GFpya" />
        <meta-data
            android:name="OnlineRouting.Key"
            android:value="FGL92QH21GEwKekje75EqJSAHA7GFpya" />
    </application>

</manifest>